AddDefaultCharset UTF-8

<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    #-- samoyed-cmg.ru/
    RewriteRule ^$ index.php [L]

</IfModule>